/* =============
    Section 5
============= */

#section-5{

    @include xl{
        display: grid;
        grid-template-rows: auto 1200px auto;
        grid-template-areas: ". section-5 .";
    }
    
    ul{
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(3, 296px) ;

        @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 340px);
            grid-template-areas:
            "bike bike
            bike bike
            trees leaves";
        }    

        @include lg{

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2,340px);
            grid-template-areas:
            "bike bike trees
            bike bike leaves"

        }

        @include xl{
            grid-area: section-5;
        }

        li{
             background-position: center;
             background-size: cover;

        }
        
        #bike{
            background-image: url("../img/section-5/bike.jpg");

            @include md{
                grid-area: bike ;
                background-position: center;      
            }
        }
        #trees{
            background-image: url("../img/section-5/trees.jpg");

            @include md{
                grid-area: trees ;

            }

        }

        #leaves{
            background-image: url("../img/section-5/leaves.jpg");

            @include md{
                grid-area: leaves ;
            
            }

        }
    }     
}
   

